@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="personnelInfoForm">
            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="sexValue" value="${item.sex}">
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="userName" name="姓名" value="${item.userName}" underline="true"/>
                            <#select id="sex" name="性别" underline="true">
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </#select>
                            <#input id="age" name="年龄" value="${item.age}" underline="true"/>
                            <#input id="birthday" name="出生日期" underline="true" type="date" value="${item.birthday}"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />
                            <#input id="ethnicity" name="民族" value="${item.ethnicity}" underline="true"/>
                            <#input id="nationality" name="国籍" value="${item.nationality}" underline="true"/>
                            <#input id="education" name="受教育程度" value="${item.education}" underline="true"/>
                            <#input id="political" name="政治面貌" value="${item.political}" underline="true"/>
                            <#input id="householdType" name="户籍类别" value="${item.householdType}" underline="true"/>
                            <#input id="marriage" name="婚姻状况" value="${item.marriage}" underline="true"/>
                            <#input id="idCard" name="身份证号" value="${item.idCard}" underline="true"/>
                            <#input id="phone" name="手机号" value="${item.phone}" />
                </div>

                <div class="col-sm-6">
                            <#input id="email" name="E-mail " value="${item.email}" underline="true"/>
                            <#input id="company" name="就职公司" value="${item.company}" underline="true"/>
                            <#input id="province" name="省" value="${item.province}" underline="true"/>
                            <#input id="occupation" name="职业" value="${item.occupation}" underline="true"/>
                            <#input id="city" name="市" value="${item.city}" underline="true"/>
                            <#input id="county" name="区、县" value="${item.county}" underline="true"/>
                            <#input id="address" name="地址信息" value="${item.address}" underline="true"/>
                            <#input id="householder" name="是否户主" value="${item.householder}" underline="true"/>
                            <#input id="householderRel" name="与户主关系" value="${item.householderRel}" underline="true"/>
                            <#input id="srcProvince" name="户籍省" value="${item.srcProvince}" underline="true"/>
                            <#input id="srcCity" name="户籍城市" value="${item.srcCity}" underline="true"/>
                            <#input id="srcCounty" name="户籍 区县" value="${item.srcCounty}" underline="true"/>
                            <#input id="srcAddress" name="户籍地址" value="${item.srcAddress}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PersonnelInfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PersonnelInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/personnel/personnelInfo/personnelInfo_info.js"></script>
@}
